{% assign description = settings.about_quote_description %}

{% assign label = settings.about_quote_label %}

<div class="about-quote">
  <div class="about-quote-container">
    <div class="about-quote-content">
      <span class="local--quotemark">&ldquo;</span>

      <p class="local--description">
        {{ description }}
      </p>

      <p class="local--label">
        {{ label }}
      </p>
    </div>
  </div>
</div>
