<form action="/cart" method="post" novalidate class="cart-drawer-checkout">

  {%- assign cart_vheto_status = 0 -%}
  {% for item in cart.items %}
  	{% if cart_vheto_status == 1 %}
  	  {% break %}
  	{% endif %}
    {%- if item.properties != empty -%}       
      {%- for property in item.properties -%}
        {%- if property.first contains '_vheto_status' -%}
          {%- assign cart_vheto_status = property.last | times: 1 -%}
          {%- break -%}
        {%- endif -%}
      {%- endfor -%}        
    {%- endif -%}
  {% endfor %}

  <input type="hidden" name="attributes[vheto_status]" id="cart_vheto_status" value="{{ cart_vheto_status }}">
  
  <div class="grid-bar grid-gutter--down-3">
    <div class="grid-item one-half">
      <button id="checkout-button" type="submit" class="cart-drawer-checkout-button" name="checkout" data-ga-event='{ "category": "Cart", "action": "checkout", "label": "Shopify" }'>
        Checkout
      </button>
    </div>

    <div class="grid-item one-half">
      <button name="goto_pp" class="button-paypal one-whole" data-ga-event='{ "category": "Cart", "action": "checkout", "label": "Paypal" }'>
        <svg class="align-icon">
          <use xlink:href="#payment-paypal-color" />
        </svg>
      </button>
    </div>
  </div>
</form>
