{% assign title = settings.collection_empty_title %}

{% assign call_to_action = settings.collection_empty_call_to_action %}

{% assign href = settings.collection_empty_link %}

<div class="collection-empty">
  <h2 class="local--heading">
    {{ title }}
  </h2>

  <a href="{{ href }}" class="local--button">
    {{ call_to_action }}
  </a>
</div>
