<!--<div class="collection-virtual">
  <a class="collection-landing-filter-button" href="/pages/virtual-color-match?collection={{collection_handle}}">
    <span class="collection-landing-filter-text collection-landing-filter-label" type="button">VIRTUAL COLOR MATCH</span>
  </a>
</div> -->

<br />

<style>
  .collection-virtual-grid {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 625px;
    margin: 0 auto;
    flex-wrap: nowrap;
  }
  .collection-virtual-filter {
    flex: 1;
    margin: 0;
  }
  .collection-virtual-container {
    flex: 1;
    margin-bottom: 2.7rem;
  }
  .collection-virtual {
    max-width: 275px;
    text-align: center;
  }
  @media (max-width: 767px) {
    .collection-virtual-grid {
      display: block;
      width: auto;
    }
    .collection-virtual-filter .collection-landing-filter-container {
      margin-bottom: 15px;
    }
    .collection-virtual {
      margin-right: auto;
      margin-left: auto;
    }
  }
</style>
