<div class="beforeafter-slider-image-container">
  <img class="one-whole" data-flickity-lazyload="{{ image_url }}" alt="{{ shop.name }}" />
</div>

<div class="beforeafter-slider-content">
  <span class="local--heading">
    {{ title }}
  </span>

  <h2 class="local--description">
    {{ description }}
  </h2>
</div>
