<section class="banner" style="background-image:url({{ image_url }}); background-size: cover; background-position: center center; background-repeat: no-repeat;">
  <div class="banner-content">
    <h1 class="local--heading">
      {{ heading }}
    </h1>

    <a href="{{ url }}" class="button-primary">
      {{ call_to_action }}
    </a>
  </div>
</section>
