<div class="collection-header">
  <span class="collection-title">
    {{ title }}
  </span>

  {% if description %}
    <p class="collection-description">
      {{ description }}
    </p>
  {% endif %}
</div>