{% assign title = settings.factory_product_prices_title %}

{% assign description = settings.factory_product_prices_description %}

<div class="grid">
  <div class="grid-item large--one-fifth">
    <svg class="local--icon" width="55px" height="110px">
      <use xlink:href="#icon-price-tag">
    </svg>
  </div>
  <div class="grid-item large--four-fifths">
    <h2 class="local--heading">
      {{ title }}
    </h2>

    <p class="local--description">
      {{ description }}
    </p>
  </div>
</div>
