{% assign title = settings.factory_product_packaging_title %}

{% assign description = settings.factory_product_packaging_description %}

<div class="grid">
  <div class="grid-item large--one-fifth">
    <svg class="local--icon" width="93px" height="85px">
      <use xlink:href="#icon-recycle">
    </svg>
  </div>
  <div class="grid-item large--four-fifths">
    <h2 class="local--heading">
      {{ title }}
    </h2>

    <p class="local--description">
      {{ description }}
    </p>
  </div>
</div>
