<div class="mobile-menu-header">
  <div class="mobile-menu-close">
    <button class="mobile-menu-close-button js-mobile-menu-close">
      <svg width="1em" height="1em">
        <use xlink:href="#icon-close" />
      </svg>
    </button>
  </div>

  <div class="mobile-menu-currency-switcher">
    {% include "currency-switcher" %}
  </div>
</div>
