<div class="mobile-menu hide" data-module-mobile-menu>
  <div class="mobile-menu-content">
    {% include "mobile-menu-header" %}
    {% include "mobile-menu-search" %}
    {% include "mobile-menu-nav" %}
    {% include "mobile-menu-utility" %}
    {% include "mobile-menu-social" %}
  </div>
</div>
