<script id="modal-close" type="text/template">
  <a href="" class="modal-close js-modal-close">
    <svg class="modal-close-icon" width="1em" height="1em">
      <use xlink:href="#icon-close" />
    </svg>

    close
  </a>
</script>
