<div class="product-payments-paybright state--hidden" data-module-paybright>
  Buy now, pay later with&nbsp;<strong>Paybright</strong> <a href="https://help.luxyhair.com/paybright-faqs/what-is-pay-bright">Learn more</a>
</div>
