{% assign title = settings.product_reviews_title %}

<div id="product-reviews" class="product-reviews">
  <div class="product-reviews-content">
    <h2 class="local--heading">
      {{ title }}
    </h2>

    {% include "vendor-yotpo-widget" %}
  </div>
</div>
