{% assign results_count = 0 %}

{% for item in search.results %}
  {% unless item.object_type == "article" %}
    {% continue %}
  {% endunless %}

  {% assign article = item %}

  {% unless article.author == "Luxy Support" %}
    {% continue %}
  {% endunless %}

  {% assign results_count = results_count | plus: 1 %}

  <p class="text-links-default-light">
    <a href="{{ article.url }}">
      {{ article.title }}
    </a>
  </p>

  {% if results_count == 10 %}
    {% break %}
  {% endif %}
{% endfor %}

{% if results_count == 0 %}
  <p class="text-default-light">
    No help results for <span class="font-bold">"{{ search.terms }}"</span>
  </p>
{% endif %}
