{% assign image_url = settings.social_proof_image | img_url: "2000x" %}

{% assign mobile_image_url = settings.social_proof_image_mobile | img_url: "1000x" %}

<div class="social-proof-header" data-src="{{ image_url }}" data-src-small="{{ mobile_image_url }}">

</div>
