<div class="support-article-header">
  <h1 class="local--heading">
    {{ article.title }}
  </h1>

  <a href="{{ article_category_url }}" class="button-pill">
    {{ article_category }}
  </a>
</div>
