<form id="support-search" action="/search" class="position-relative" data-module-blog-search>
  <input type="hidden" name="type" value="article" />
  <input type="hidden" name="view" value="support" />

  <input type="text" name="q" id="support-search-input" class="blog-search-input support-search-input" placeholder="{{ placeholder }}" required />

  <button type="submit" class="blog-search-button">
    <svg width="1em" height="1em">
      <use xlink:href="#icon-search" />
    </svg>
  </button>
</form>
