<symbol id="icon-close" enable-background="new 0 0 13 13" viewBox="0 0 13 13">
  <title>Close</title>
  <g fill="currentColor">
    <path  d="M1382.61,3263.24l11.12,11.28a0.875,0.875,0,0,1,0,1.22,0.833,0.833,0,0,1-1.2,0l-11.12-11.28a0.875,0.875,0,0,1,0-1.22A0.833,0.833,0,0,1,1382.61,3263.24Zm10.88,1.23-11.05,11.24a0.851,0.851,0,0,1-1.2,0,0.875,0.875,0,0,1,0-1.22l11.06-11.23a0.822,0.822,0,0,1,1.19,0A0.863,0.863,0,0,1,1393.49,3264.47Z" transform="translate(-1381 -3263)" />
  </g>
</symbol>
