<symbol id="icon-lock" viewBox="0 0 32 32">
  <title>Lock</title>
  <g fill="currentColor">
    <path d="M16 21.915v2.594c0 .27.232.49.5.49.276 0 .5-.228.5-.49v-2.595c.583-.206 1-.762 1-1.415 0-.828-.672-1.5-1.5-1.5s-1.5.672-1.5 1.5c0 .653.417 1.21 1 1.415zm-1 .585v1.998c0 .83.666 1.502 1.5 1.502.828 0 1.5-.67 1.5-1.502V22.5c.607-.456 1-1.182 1-2 0-1.38-1.12-2.5-2.5-2.5S14 19.12 14 20.5c0 .818.393 1.544 1 2zM9 14v-3.5C9 6.356 12.358 3 16.5 3c4.134 0 7.5 3.358 7.5 7.5V14c1.66.005 3 1.35 3 3.01v9.98c0 1.673-1.347 3.01-3.01 3.01H9.01C7.345 30 6 28.653 6 26.99v-9.98c0-1.67 1.342-3.005 3-3.01zm1 0v-3.507C10 6.908 12.91 4 16.5 4c3.583 0 6.5 2.907 6.5 6.493V14h-1v-3.49C22 7.465 19.53 5 16.5 5 13.462 5 11 7.46 11 10.51V14h-1zm2 0v-3.5C12 8.01 14.015 6 16.5 6c2.48 0 4.5 2.015 4.5 4.5V14h-9zm-3.003 1C7.894 15 7 15.897 7 17.006v9.988C7 28.102 7.89 29 8.997 29h15.006C25.106 29 26 28.103 26 26.994v-9.988C26 15.898 25.11 15 24.003 15H8.997z" fill-rule="evenodd"/>
  </g>
</symbol>
