<symbol id="icon-checkmark" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
  <title>Checkmark</title>
  <g fill="currentColor">
    <path d="M5.3 14.607c.383.38 1.045.384 1.43 0l11-10.9c.393-.39.393-1.024 0-1.414-.395-.39-1.035-.39-1.43 0L6.01 12.488 1.73 8.292c-.394-.39-1.034-.39-1.428 0-.395.39-.395 1.024 0 1.414l5 4.9z" fill-rule="nonzero" />
  </g>
</symbol>