<symbol id="icon-play-circle" viewBox="0 0 20 20">
  <title>Play Circle</title>
  <g fill="none" fill-rule="evenodd">
    <path d="M10 0C4.5 0 0 4.5 0 10s4.5 10 10 10 10-4.5 10-10S15.5 0 10 0z" fill="#FFF" />
    <path d="M8 14.5v-9l6 4.5-6 4.5z" fill="#6D6A6A" />
  </g>
</symbol>
