<div class="swell-container">
  <div class="how-it-works">
    <h2 class="swell-heading">How it Works</h2>
    <ul class="steps">
      <li>
        <span class="number">1</span>
        <h4>Join</h4>
        <p>Join today <br class="swell-break"> and start earning.</p>
      </li>
      <li>
          <span class="number">2</span>
          <h4>Earn Points</h4>
          <p>Earn points <br class="swell-break">  every time you shop.</p>
      </li>
      <li>
          <span class="number">3</span>
          <h4>Redeem Points</h4>
          <p>Redeem points <br class="swell-break"> for exclusive discounts.</p>
      </li>
    </ul>
  </div>
</div>
