<div class="swell-container">
	<div class="ways-to-earn">
		<h2 class="swell-heading">Ways to Earn Points</h2>
		<div class="swell-campaigns-section">
		  <div class="swell-referral-loader">
		     <img src="{{ 'swell-loader.svg' | asset_url }}"/>
		  </div>
		  <ul class="campaigns {% if customer %} logged-in {% endif %}">
		  </ul>
		</div>
	</div>
</div>
