<div class="luxy-hair swell-logged-in account-page">
	{% include 'swell-user_loggedin-section' %}
	{% include 'swell-vip-tier-section' %}
	{% include 'swell-redeem_discount-section' %}
	<div class="referral-section">
    {% include 'swell-refer-section' %}
  </div>
</div>