<div class="swell-logged-in-section">
  <div class="swell-container">
    <p class="swell-text">
      Hi, <span class="swell-first-name">{{customer.first_name}}</span>!
    </p>
    <p class="swell-text">
      You have <span class="swell-point-balance">X</span> Points.
    </p>
    <div class="swell-btn-holder">
      <a class="swell-btn swell-btn-redeem" href="/checkout">
      Redeem Now
      </a>
      <a class="swell-btn swell-btn-history swell-history-link" href="javascript:void(0)">
      Rewards History
      </a>  
    </div>
  </div>
</div>
