<div class="swell-redeem-discounts">
  <div class="swell-container">
    <div class="swell-redeem-discount-left-section">
      <div class="swell-redeem-discount-left-section-holder">
        <h3 class="swell-heading">Redeem for Discounts</h3>
        <p class="swell-text">
           Redeeming your hard-earned points is easy! <br class="swell-break">
           Simply apply your points for a discount at checkout!
        </p>
        <a class="swell-conversion-points" href="javascript:void(0)">
           Every 100 points = $1
        </a>
        <ul class="swell-redeem-list">
          <li class="swell-redeem-list-section">
            <div class="swell-redeem-list-section-holder">
              <p class="swell-redeem-heading">$5 OFF</p>
              <p class="swell-redeem-points swell-text">500 Points</p>
            </div>
          </li>

          <li class="swell-redeem-list-section">
            <div class="swell-redeem-list-section-holder">
              <p class="swell-redeem-heading">$10 OFF</p>
              <p class="swell-redeem-points swell-text">1000 Points</p>
            </div>
          </li>

          <li class="swell-redeem-list-section">
            <div class="swell-redeem-list-section-holder">
              <p class="swell-redeem-heading">$15 OFF</p>
              <p class="swell-redeem-points swell-text">1500 Points</p>
            </div>
          </li>

          <li class="swell-redeem-list-section">
            <div class="swell-redeem-list-section-holder">
              <p class="swell-redeem-heading">$20 OFF</p>
              <p class="swell-redeem-points swell-text">2000 points</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="swell-redeem-discount-right-section">
      <img class="swell-img" src="{{'swell-redemption-desktop.png' || asset_url }}">
    </div>
  </div>
</div>
