<!-- Vip Table Section Code Start -->
<div class="vip-table-section">
  <div class="swell-container">
    <div class="swell-heading-section">
      <h2 class="swell-heading">VIPs Earn Even More</h2>
    </div>
    <div class="vip-tier-holder {% if customer %} logged-in {% endif %}">
      <ul class="vip-tier-head">
        <div class="swell-referral-loader">
          <img src="{{ 'swell-loader.svg' | asset_url }}"/>
        </div>
      </ul>
      <h2 class="swell-benefits">Benefits</h2>
      <ul class="vip-tier-body">
        <div class="swell-referral-loader">
          <img src="{{ 'swell-loader.svg' | asset_url }}"/>
        </div>    
      </ul>
    </div>
  </div>
</div>
      <!-- Vip Table Section Code End -->