<div class="swell-reward-raf-section">
  <div class="swell-container">
    <div class="swell-reward-raf-holder">
      <div class="swell-raf-image-holder">
        <img class="swell-img swell-desktop" src="{{'swell-refer-desktop.png' || asset_url }}">
        <img class="swell-img swell-mobile" src="{{'swell-refer-mobile.png' || asset_url }}">
      </div>
      <div class="swell-raf-text-container">
        <div class="swell-raf-text-holder">
          <h3 class="swell-raf-heading">Refer a friend</h3>
          <h3 class="swell-heading">Give $10, Get $10</h3>
          <p class="swell-text">Set up your friends with Luxy Hair. They'll get $10 OFF <br class="swell-break">and you'll get $10 store credit when they shop. <br class="swell-break">Earn $10 for every referral you make.</p>
          <a class="swell-raf-btn" href="/pages/refer">
             Start referring now
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
