{% assign yotpo_carousel_mode = settings.yotpo_carousel_mode %}

{% assign yotpo_carousel_type = settings.yotpo_carousel_type %}

{% assign yotpo_carousel_reviews_count = settings.yotpo_carousel_reviews_count %}

{% assign show_yotpo_carousel_bottomline = settings.show_yotpo_carousel_bottomline %}

{% assign yotpo_carousel_autoplay = settings.yotpo_carousel_autoplay | default: false %}

<div class="yotpo yotpo-reviews-carousel"
  data-background-color="transparent"
  data-mode="manual"
  data-type="both"
  data-review-ids="37757514,5780506,28561369,3623306,83844470,9960004"
  data-show-bottomline="1"
  data-autoplay-enabled="1"
  data-autoplay-speed="3000"
  data-show-navigation="1">&nbsp;</div>

<p class="test">Please note: By uploading your photo, Luxy Hair has the right to share it.</p>

<div class="yotpo yotpo-pictures-widget" data-gallery-id="5cb7187f4628a4001268737a"></div>

<style>
  .test {
    position: relative;
    left: 450px;
    top: 60px;
    font-style:italic;
    font-size: 14px;
  }

 .yotpo-pictures-gallery-upload-button-wrapper .yotpo-pictures-gallery-upload-button{
    position: relative;
    bottom:30px
  }
</style>