{% assign label = settings.checkout_attentive_label %}

{% assign description = settings.checkout_attentive_description %}

{% assign disclaimer = settings.checkout_attentive_disclaimer | remove: "<p>" | remove: "</p>" %}

<div id="attentiveOptIn" class="fieldset-description" data-buyer-accepts-marketing-attentive="" aria-label="Phone Sign Up">
  <div class="section__content section__content__attentive">
     <div class="checkbox-wrapper">
        <div class="checkbox__input">
          <input name="attributes[buyer_accepts_marketing_attentive]" type="hidden" value="0">
          <input class="input-checkbox" data-backup="buyer_accepts_marketing" type="checkbox" value="1" name="attributes[buyer_accepts_marketing_attentive]" id="checkout_buyer_accepts_marketing_attentive" aria-label="checkbox for phone sign up" tabindex="0" focusable="true">
        </div>

        <div class="checkbox__label checkbox__label__attentive">
          <span id="headers" tabindex="0" focusable="true">
             <div class="checkbox__label__attentive__header">
               {{ label }}
             </div>
             <div class="checkbox__label__attentive__subheader">
               {{ description }}
             </div>
          </span>

          <div class="section__footer__attentive">
            {{ disclaimer }}
          </div>
        </div>
     </div>
  </div>
</div>
