{% assign limit = section.settings.limit %}

{% assign heading = section.settings.heading | default: nil %}

{% assign call_to_action = "See all posts" %}

{% assign url = blog.url | append: "?view=all" %}

<div class="blog-latest">
  {% include "component-blog-section-header" %}

  <div class="large--grid-uniform blog-slider-pagination medium-down--blog-slider" data-flickity='{ "watchCSS": true, "wrapAround": true, "prevNextButtons": false, "pageDots": true, "groupCells": 2 }'>
    {% for article in blog.articles limit: limit %}
      <div class="grid-item one-half large--one-third">
        <div class="blog-latest-thumbnail">
          {% include "article-thumbnail" %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<div class="blog-latest-button-container large--hide">
  <a href="{{ url }}" class="button-link">
    {{ call_to_action }}
  </a>
</div>

{% schema %}
  {
    "name": "Latest",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "range",
        "id": "limit",
        "min": 3,
        "max": 12,
        "step": 3,
        "label": "Limit",
        "default": 3
      }
    ]
  }
{% endschema %}
