{% assign kicker = section.settings.kicker %}

{% assign heading = section.settings.heading %}

{% assign call_to_action = section.settings.call_to_action %}

{% assign url = section.settings.url | append: "?from=CollectionsList" %}

<div class="collections-guide">
  <span class="section-kicker">
    {{ kicker }}
  </span>

  <h2 class="local--heading">
    {{ heading }}
  </h2>

  <a href="{{ url }}" class="button-primary">
    {{ call_to_action }}
  </a>
</div>

{% schema %}
  {
    "name": "Guide",
    "settings": [
      {
        "type": "text",
        "id": "kicker",
        "label": "Kicker"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "call_to_action",
        "label": "Call to action"
      },
      {
        "type": "url",
        "id": "url",
        "label": "Link"
      }
    ]
  }
{% endschema %}
