{% assign heading = section.settings.heading %}

{% assign video_call_to_action = section.settings.video_call_to_action %}

{% assign video_url = section.settings.video_url | split: "//" | last | prepend: "//" %}

{% assign button_call_to_action = section.settings.button_call_to_action %}

{% assign button_url = section.settings.button_url %}

{% assign button_background_color = section.settings.button_background_color %}

{% assign button_border_color = section.settings.button_border_color %}

{% assign button_text_color = section.settings.button_text_color %}

<div class="homepage-beforeafter">
  <div class="homepage-beforeafter-content">
    <h1 class="homepage-section-heading homepage-beforeafter-heading">
      {{ heading }}
    </h1>

    <a href="{{ video_url }}" class="block text-secondary-dark js-modal-video">
      <span class="homepage-beforeafter-icon-video"></span>
      <span class="local--button">
        {{ video_call_to_action }}
      </span>
    </a>
  </div>

  {% include "component-beforeafter-slider" %}

  <div class="homepage-beforeafter-button-container">
    {% include "component-button" %}
  </div>
</div>

{% schema %}
  {
    "name": "Before and after",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "See the Luxy Hair transformations"
      },
      {
        "type": "header",
        "content": "Video"
      },
      {
        "type": "video_url",
        "id": "video_url",
        "label": "Link",
        "accept": ["youtube", "vimeo"],
        "default": "https://vimeo.com/229746900"
      },
      {
        "type": "text",
        "id": "video_call_to_action",
        "label": "Call to action",
        "default": "Watch the video"
      },
      {
        "type": "header",
        "content": "Button"
      },
      {
        "type": "text",
        "id": "button_call_to_action",
        "label": "Call to action",
        "default": "Shop hair extensions"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Link"
      },
      {
        "type": "color",
        "id": "button_background_color",
        "label": "Background",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "button_border_color",
        "label": "Border",
        "default": "transparent"
      },
      {
        "type": "color",
        "id": "button_text_color",
        "label": "Text",
        "default": "#FFFFFF"
      }
    ],
    "blocks": [
      {
        "type": "slide",
        "name": "Slide",
        "settings": [
          {
            "type": "header",
            "content": "Before"
          },
          {
            "type": "image_picker",
            "id": "before_image",
            "label": "Image"
          },
          {
            "type": "textarea",
            "id": "before_description",
            "label": "Description"
          },
          {
            "type": "header",
            "content": "After"
          },
          {
            "type": "image_picker",
            "id": "after_image",
            "label": "Image"
          },
          {
            "type": "textarea",
            "id": "after_description",
            "label": "Description"
          }
        ]
      }
    ],
    "default": {
      "settings": {
        "heading": "See the Luxy Hair transformations",
        "video_url": "https:\/\/vimeo.com\/229746900",
        "video_call_to_action": "Watch the video",
        "button_url": "shopify:\/\/collections\/classic-clip-in-hair-extensions",
        "button_call_to_action": "Shop hair extensions",
        "button_background_color": "#000000",
        "button_border_color": "transparent",
        "button_text_color": "#ffffff"
      },
      "blocks": [
        {
          "type": "slide",
          "settings": {
            "before_image": "shopify:\/\/shop_images\/homepage-video-before-1.jpg",
            "before_description": "Without Luxy Hair extensions",
            "after_image": "shopify:\/\/shop_images\/homepage-video-after-1.jpg",
            "after_description": "With Dirty Blonde Luxy Hair extensions"
          }
        },
        {
          "type": "slide",
          "settings": {
            "before_image": "shopify:\/\/shop_images\/homepage-video-before-2.jpg",
            "before_description": "Without Luxy Hair extensions",
            "after_image": "shopify:\/\/shop_images\/homepage-video-after-2.jpg",
            "after_description": "With Off Black Luxy Hair extensions"
          }
        },
        {
          "type": "slide",
          "settings": {
            "before_image": "shopify:\/\/shop_images\/homepage-video-before-3.jpg",
            "before_description": "Without Luxy Hair extensions",
            "after_image": "shopify:\/\/shop_images\/homepage-video-after-3.jpg",
            "after_description": "With Seamless Blonde Balayage Luxy Hair extensions"
          }
        }
      ]
    }
  }
{% endschema %}
