{% assign heading = section.settings.heading %}

{% assign foursixty_feed_id = section.settings.foursixty_feed_id %}

{%- assign enabled = section.settings.enabled -%}

{%- if enabled -%}
  <div class="homepage-instagram">
    <div class="homepage-instagram-content">
      <h1 class="local--heading">
        {{ heading }}
      </h1>
    </div>

    {% include "foursixty" %}
  </div>
{%- endif -%}

{% schema %}
  {
    "name": "Instagram",
    "tag": "section",
    "settings": [
      {
        "type": "checkbox",
        "id": "enabled",
        "label": "Enabled",
        "default": true
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Click to shop"
      },
      {
        "type": "header",
        "content": "Foursixty"
      },
      {
        "type": "text",
        "id": "foursixty_feed_id",
        "label": "Feed ID",
        "default": "luxyhair"
      }
    ]
  }
{% endschema %}