{% include "object-param-view" %}

<div class="position-relative">
  {% section "collections-hero" %}

  <div class="collections-content">
    {% section "collections-products" %}
    {% section "collections-guide" %}
    {% section "collections-faq" %}
  </div>
</div>
