<div class="luxy-hair">
  <div class="referral-section">
    <div class="referral-banner">
      <span class="banner-heading swell-desktop">Hair for <br>a friend</span>
      <img src="{{'swell-referral-banner-mobile.png' | asset_url }}" class="banner-image swell-mobile">
    </div>
    {% include 'swell-refer-section' %}
  </div>
</div>