{% assign keyword = nil %}

{% include "page-header" %}

<div class="template-page-instagram">
  <script src="//foursixty.com/media/scripts/fs.embed.v2.5.js" data-feed-id="luxyhair" data-theme="lookbook_v2_5" data-connector-filter="11831,25100,11832"></script>

  <style><!--
    .fs-has-links::after {
      padding: 3px 6px;
      text-decoration: underline;
      color: rgb(0, 0, 0);
      content: "VIEW";
    }
    .fs-wrapper div.fs-text-container .fs-entry-title, div.fs-detail-title {
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-style: normal;
      font-weight: normal;
    }
    div.fs-text-container .fs-entry-date, div.fs-detail-container .fs-post-info, div.fs-wrapper div.fs-has-links::after, .fs-text-product, .fs-overlink-text {
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-style: normal;
      font-weight: bold;
    }
    .fs-wrapper div.fs-text-container * {
      color: rgb(0, 0, 0);
    }
    .fs-wrapper div.fs-text-container {
      background-color: rgba(255, 255, 255, 0.8);
      margin: 0px;
    }
    div.fs-entry-date {
      display: none;
    }
    div.fs-entry-title {
      display: none;
    }
    .fs-wrapper div.fs-timeline-entry {
      margin: 1px;
    }
  --></style>
</div>
